<h1>
  {{title}}
</h1>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-xs-right">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Project name</h3>
  </div>

  <router-outlet></router-outlet>
  
  <footer class="footer">
    <p>&copy; Company 2014</p>
  </footer>

</div>
<!-- /container -->